@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  background-color: theme("colors.sago");
  color: theme("colors.charcoal");
  font-family: theme("fontFamily.body");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme("fontFamily.display");
}
